<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Inscription</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="../fragments/header :: header"></div>

    <main>

        <h1 class="text-center">Inscription</h1>

        <form th:action="@{/signup}" th:object="${createUser}" method="post" enctype="multipart/form-data">

            <div class="row justify-content-center">

                <div class="col-3">

                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input class="form-control" id="name" type="text" th:field="*{name}" placeholder="Nom" required>
                        <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input class="form-control" id="firstname" type="text" th:field="*{firstname}" placeholder="Prénom" required>
                        <p th:if="${#fields.hasErrors('firstname')}" th:errorclass="error" th:errors="*{firstname}"></p>
                    </div>

                    <!-- Picture uploaded  -->
                    <div class="mb-3">
                        <label for="photo">Image</label>
                        <input type="file" class="form-control" id="photo">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input class="form-control" id="email" type="email" th:field="*{email}" placeholder="E-mail" required>
                        <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input class="form-control" id="password" type="password" th:field="*{password}" placeholder="Mot de passe" required>
                        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
                    </div>


                    <button type="submit" class="btn btn-primary mb-5">Enregistrer</button>

                </div>

            </div>

        </form>



    </main>

    <div th:insert="../fragments/footer :: footer"></div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">

</script>
</body>
</html>